:root {
	--chat-bg-color: rgba(28, 27, 27, 0.816);
}

.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 85%;
	color: aliceblue;
}

.mensajes {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 70vw;
	height: 75vh;
	justify-content: end;

	background: rgba(255, 255, 255, 0.2);

	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: none;
}

.chat-text {
	margin: 10px 60px;
	font-size: 24px;
}

.input-container {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: 70vw;
	padding: 20px 10px;
}

.input-container input {
	font-size: 20px;
	box-sizing: border-box;
	width: 90%;
	height: 50px;
	background: rgba(255, 255, 255, 0.2);

	/* border-radius: 16px; */
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: none;
	padding-left: 10px;
}

.input-container input:focus {
	/* border: none; */
	outline: none;
}
.input-container button {
	cursor: pointer;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	background: rgba(255, 255, 255, 0.2);

	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-container button:hover {
	background: rgba(93, 92, 92, 0.2);
}
