.login-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 80%;
}

.login-container input {
	width: 300px;
	height: 60px;
	font-size: 20px;
	padding-left: 10px;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-container input::placeholder {
	color: black;
}

.login-container input:focus {
	/* border: none; */
	outline: none;
}

.login-container button {
	color: black;
	cursor: pointer;
	margin-left: 10px;
	width: 80px;
	height: 60px;
	font-size: 18px;

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.47);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2.8px);
	-webkit-backdrop-filter: blur(2.8px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	transition: 200ms;
}

.login-container button:hover {
	background: rgba(255, 255, 255, 0.2);
}
