nav {
	width: 100vw;
	height: 90px;
	display: flex;
	align-items: center;
}

nav h1 {
	font-size: 35px;
	margin-left: 70px;
	font-family: "Press Start 2P", cursive;
	text-shadow: 10px 5px 20px rgb(66, 69, 255);
}
